@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

:root {
  --header-social: #3a0c66;
  --header-nav: #5c2a82;
  --yellow-keyd: #ffc311;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  color: #121213;

  
  background-image:linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.90)) , url("../img/keyd-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

header .header--welcome {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #3a0c66;
  color: white;
}

header .header--socials i {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

header .header--socials i:hover {
  color: var(--yellow-keyd);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

nav img {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

nav ul li {
    margin: 10px;
    position: relative;
}

nav ul li::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffc311;
    width: 0;
    transition: 0.3s;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #5c2a82;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}


section.banner {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.banner .banner--content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    color: white;
}

section.banner .banner--content .banner--text {
    margin-right: 100px;

}

section.banner .banner--content h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

section.banner .banner--content p {
    font-size: 1rem;
    text-align: justify;
    font-weight: 300;
    margin-bottom: 30px;
}

section.banner .banner--content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.5s;
}

section.banner .banner--content a:hover {
    border: 2px solid #5c2a82;
    color: #ffc311;
    background-color: #5c2a82;
}

section.banner .banner--logo img{
    width: 400px;
    height: auto;
}